<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
    <DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="XPlat Code Coverage">
                <Configuration>
                    <Format>opencover</Format>
                    <Exclude>[AspNetCore.Examples.ProductService]AspNetCore.Examples.ProductService.Program, [AspNetCore.Examples.ProductService]AspNetCore.Examples.ProductService.Startup, [AspNetCore.Examples.ProductService.PriceCardService]*</Exclude>
                </Configuration>
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>
</RunSettings>